@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section{
  width:100%;
  height:100vh;
  color:#fff;
  background:linear-gradient(-45deg,  #B19CD8, #BEA9DF, #CCB7E5, #D9C4EC,  #E6D1F2);
  postion: relative;
}

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

li,a{
  font-family: 'Inconsolata', monospace;
  font-weight: 550;
  font-size: 18px;
  color: white;
  text-decoration: none;
  position: relative;
}

.logo{
  cursor: pointer;
  margin-right: auto;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: purple;
}

h1{
  font-family: 'Inconsolata', monospace;
  font-weight: 650;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
  background: white;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.wrapper{
  padding-right: 100px;
  padding-left: 100px;

}

h2{
  color: black;
  font-size:16px;
}

p{
color: black;
font-size:12px;
}
