@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
/* font-family: 'Inconsolata', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
/* font-family: 'Inconsolata', monospace; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section{
  width:100%;
  height:100%;
  color:#fff;
  background:linear-gradient(-45deg, #F0E3F7
, #CCB7E5,  #CCB7E5, #D9C4EC,  #F5EDFA);
  postion: relative;
}

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

li,a{
  font-family: 'Inconsolata', monospace;
  font-weight: 550;
  font-size: 18px;
  color: white;
  text-decoration: none;
  position: relative;
}

.logo{
  cursor: pointer;
  margin-right: auto;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: purple;
}

h1{
  font-family: 'Inconsolata', monospace;
  font-weight: 650;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
  background: white;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.Meshmixer {
  color: white;
  background-color: blue;
  width: 80px;
  padding-bottom: 2px;
  padding-left: 2px;
  font-size: 16px;
}

/* #parent {
    width: 100%;
    height: 90px;
    white-space: nowrap;
    overflow-x: auto;
}

.child {
    display: inline-block;
    font-size: 16px;
    background-color: red;
    float: left;

} */

.Sketchfab {
  color: white;
  background-color: blue;
  width: 80px;
  padding-bottom: 2px;
  padding-left: 2px;
  font-size: 16px;
  display: inline-block;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: left;
  cursor: pointer;
  width: 60px;

}

.button:hover {
  background-color: #555;
}

.wrapper{
  padding-right: 100px;
  padding-left: 100px;

}

h2{
  color: black;
  font-size:30px;
  text-align: left;
  font-family: 'Inconsolata', monospace;
  padding-top: 10px;
  padding-bottom: 2px;
}

p{
color: black;
font-size:16px;
text-align: left;
  padding-top: 5px;
font-weight: 100;
font-family: 'Inconsolata', monospace;
padding-bottom: 10px;
}

.container2{
  margin:150px auto;
  width: 50%;
  padding: 8px;
}

.img{
  float:left;
  width: 300px;
  height: 260px;
padding: 0 10px 0 0;
}

.text{
  text-align: justify;
}

h5{
  font-size: 20px;
}
